<link rel="stylesheet" link href="/players.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    var player = "player2";
    var player_index = 1;
</script>
<script type="text/javascript" src="/game.js"></script>

<html id="html" style="background: green">
	<title>Player 2</title>
	<div id="container">
		<h2 class="p2" id="playerName" >
			Player 2
		</h2>
		<div id = "scoreContainer">
			<div class="boxTitle">Score</div>
			<div class="score t1s">Team 1: <span id="score1"></span></div>
			<div class="score t2s">Team 2: <span id="score2"></span></div>
		</div>
		<div id = "bidContainer">
			<div class="boxTitle">Bid</div>
			<div>Number: <span id="bidNumber"></span></div>
			<div>Suit: <span id="bidSuit"></span></div>
			<div>Bid By: <span id="bidPlayer"></span></div>
		</div>

		<br>
		<div id="lastTrickContainer" class="">
			<div class="boxTitle"> Last Trick</div>
			<div class="trickBox">
    			<div class="trickrow">
    			    <label class="trickLabelTop p4">Player 4</label>
    				<div id="trickBoxThree"></div>
    			 </div>
    			<div class="trickrow">
    			    <label class="trickLabel p3" id="leftTrickLabel">Player 3</label>
    				<div id="trickBoxTwo"></div>
    				<div id="trickBoxZero"></div>
    				<label class="trickLabel p1" id="rightTrickLabel">Player 1</label>
    			</div>
    			<div class="trickrow">
    				<div id="trickBoxOne"></div>
    			</div>
    		</div>
			<hr>
			<div class="trickCount t1t">Team 1: <span id="t1Tricks"></span></div>
			<div class="trickCount t2t">Team 2: <span id="t2Tricks"></span></div>
		</div>
		<div id="mainContainer">
			<div id="turnDisplayer">Turn: <span id="playersTurn"></span></div>
			<div id="biddingContainer">
				<div id="biddingTableContainer"></div>
				<div id="biddingFormContainer"></div>
			</div>
			<div id="blindConainer"></div>
			<div id="playingContainer">
				<div class="trickrow">
				    <label class="playLabelTop p4">Player 4</label>
					<div id="playerBoxThree"></div>
				 </div>
				<div class="trickrow">
				     <label class="playLabel p3" id="leftPlayLabel">Player 3</label>
					<div id="playerBoxTwo"></div>
					<div id="playerBoxZero"></div>
    				<label class="playLabel p1" id="rightPlayLabel">Player 1</label>
				</div>
				<div class="trickrow">
					<div id="playerBoxOne"></div>
				</div>
				<div id="openNulloContainer" class="trickrow">
				    <label id="nulloLabel"></label>
				    <div id="openNulloCardsContainer"></div>
				</div>
			</div>
		</div>
		<div id="chatContainer">
			<div class="boxTitle">Chat</div>
			<div id="messageContainer"></div>
			<div id="inputContainer">
			    <input id="inputer" onkeypress="if (event.keyCode==13){sendChat()}" type="text"></input>
			    <input id="chatButton" type="submit" onclick="sendChat()"></input>
			</div>
		</div>
		<br>

		<div id="cardsContainer">

		</div>

	</div>
	<div id="buttons">
        <button onclick="update_game()">Manually Update Game</button>
    </div>
</html>